extends layout

block content
  pre#pokenea
  
  script.
    fetch('/api/pokenea')
      .then(res => res.json())
      .then(data => {
        document.getElementById('pokenea').textContent = JSON.stringify(data, null, 2);
      });
