extends layout

block content
  pre#pokepunk

  script.
    fetch('/api/pokepunk')
      .then(res => res.json())
      .then(data => {
        document.getElementById('pokepunk').textContent = JSON.stringify(data, null, 2);
      });
